<?php

return array(
  "app_id" => "",  //Facebook App ID
  "app_secret" => "", //Facebook Secret Key
  "facebook_permissions" => "email,user_likes,publish_actions,user_photos,user_events", //comma seperated list (1)
  "twitter_consumer_key" => "", //Twitter consumer key
  "twitter_consumer_secret" => "", //Twitter consumer secret key,
  "tumblr_consumer_key" => "",
  "tumblr_consumer_secret" => "",
);